<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtremebd.ksl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.KSLApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ksllogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ksllogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activities.TradeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.WelcomeActivity" />
        <activity android:name=".activities.AllItems" />
        <activity
            android:name=".activities.CSEMarketSummaryActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MarketMoversActivity"
            android:label="@string/title_activity_market_movers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.CseNewsActivity" />
        <activity android:name=".activities.IPOActivity" />
        <activity android:name=".activities.ItemDetailActivity" />
        <activity android:name=".activities.WatchlistActivity" />
        <activity android:name=".activities.OpenaccountActivity" />
        <activity android:name=".activities.FundRequisitionActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.ITSAccountsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.PortfolioActivity" />
        <activity android:name=".activities.DiscussionActivity" />

        <service android:name=".services.KSLFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.KSLFirebaseInstance">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activities.NotificationsActivity" />
        <activity android:name=".activities.PortfolioStatement" />
        <activity android:name=".activities.OrderStatus" />
        <activity android:name=".activities.OrderStatusResult" />
        <activity android:name=".activities.FinancialLedgerActivity" />
        <activity android:name=".activities.FinancialLedgerResults" />
        <activity android:name=".activities.KSLNews" />
        <activity android:name=".activities.TopGainerLoserActivity" />
        <activity
            android:name=".activities.VolumeGraphActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.CandleStickChartActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activities.AboutActivity" />
        <activity android:name=".activities.PriceAlertActivity" />

        <service
            android:name=".services.PriceAlertService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".activities.PasswordRecoveryActivity" />
        <activity android:name=".activities.SelectItemForTradeActivity" />
        <activity android:name=".activities.DSEMarketSummary" />
        <activity android:name=".activities.PortfolioStatementResult"/>
    </application>

</manifest>