<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xtremebd.ksl">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.KSLApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.TradeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="KSL"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.WelcomeActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.AllItems" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MarketMoversActivity"
            android:label="@string/title_activity_market_movers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.NewsActivity" />
        <activity android:name=".activities.IPOActivity" />
        <activity android:name=".activities.ItemDetailActivity" />
        <activity android:name=".activities.WatchlistActivity" />
        <activity android:name=".activities.OpenaccountActivity" />
        <activity android:name=".activities.FundRequisitionActivity"></activity>
    </application>

</manifest>